---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="w-screen h-screen flex flex-wrap">
    <div class="w-full flex justify-center items-center h-full absolute">
      <img
        class="absolute object-cover h-[100%] flex opacity-20"
        src="/src/assets/astrobg.png"
        alt=""
      />
    </div>
  </div>
</MainLayout>
