---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="import">
  <img
    class="absolute h-[100%] ml-[20%] flex opacity-20"
    src="/src/assets/astrobg.png"
    alt=""
  />
  <div class="h-full w-full bg-gray-100 flex flex-wrap"></div>
</MainLayout>
