---
import MainLayout from "../layouts/MainLayout.astro";
import Nav from "./components/Nav.astro";
---

<MainLayout title="import">
  <div class="h-full w-full bg-gray-100 flex flex-wrap"></div>
</MainLayout>
 ../components/Nav.astro
