---
import MainLayout from "../layouts/MainLayout.astro";
import { categories } from "../constants/categories";
---

<MainLayout title="import">
  <div class="h-screen w-screen">
    <div class="w-full flex justify-center items-center h-full absolute">
      <img
        class="absolute object-cover h-[100%] flex opacity-20"
        src="/src/assets/astrobg.png"
        alt=""
      />
    </div>
    <form
      action="/api/v1/quote"
      method="post"
      class="relative mt-20 flex flex-col items-center justify-center space-y-2"
    >
      <input
        type="file"
        name="quote"
        id="quoteImage"
        class="rounded p-2 bg-gray-200 file:bg-orange-600 file:border-none file:text-white file:p-2 file:rounded file:text-sm file:font-bold"
      />
      <input
        class="p-2 bg-gray-200 w-80 h-12 rounded"
        placeholder="author"
        type="text"
      />
      <select
        name="categories"
        id="quoteCategories"
        class="w-80 h-12 appearance-none bg-white border-4 border-orange-500 text-orange-500 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-orange-700 focus:shadow-outline-orange"
      >
        {
          categories?.map((category) => (
            <option key={category} value={category}>
              {category}
            </option>
          ))
        }
      </select>
      <button
        upload-image
        class="bg-black text-white p-2 h-12 rounded w-40 hover:bg-gray-800 active:bg-orange-600"
        type="submit">upload</button
      >
    </form>
  </div>
</MainLayout>

<script>
  const button = document.getElementById("uploadImage");

  button?.addEventListener("click", () => {
    let quote_image = window.document.getElementById("quoteImage");
    let imageUrl = quote_image?.accessKeyLabel;
    console.log(imageUrl);
  });
</script>
