---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="import">
  <div class="h-full w-full">
    <div class="w-full flex justify-center items-center h-full absolute mt-20">
      <img
        class="absolute object-cover h-[100%] flex opacity-20"
        src="/src/assets/astrobg.png"
        alt=""
      />
    </div>
    <div class="relative mt-40"></div>
  </div>
</MainLayout>
