---
import MainLayout from "../layouts/MainLayout.astro";
import QuoteView from "../components/QuoteCreation";
---

<MainLayout title="Home">
  <div class="h-full w-full">
    <QuoteView client:load />
  </div>
</MainLayout>
