---
import MainLayout from "../layouts/MainLayout.astro";
import SampleView from "../components/SampleQuotesResource";
---

<MainLayout title="Quotes">
  <img
    class="absolute h-[100%] ml-[20%] flex opacity-20"
    src="/src/assets/astrobg.png"
    alt=""
  />
  <div class="h-full w-full">
    <SampleView client:load />
  </div>
</MainLayout>
