---

---

<div
  class="relative w-full h-10 flex flex-row items-center justify-center space-x-4 bacdrop-blur"
>
  <a
    href="/"
    class="font-bold hover:text-blue-600 active:text-purple-600 cursor-pointer"
  >
    Home
  </a>

  <a
    href="/quotes"
    class="font-bold hover:text-blue-600 active:text-purple-600 cursor-pointer"
  >
    Quotes
  </a>

  <a
    href="/import"
    class="font-bold hover:text-blue-600 active:text-purple-600 cursor-pointer"
  >
    Import
  </a>
</div>
