---
function copyToClipboard() {
  navigator.clipboard
    .writeText("/api/v1/quote")
    .then(() => {
      console.log("Text successfully copied to clipboard:", "/api/v1/quote");
      alert("Endpoint copied successfully");
    })
    .catch((err) => {
      console.error("Unable to copy text to clipboard:", err);
    });
}
---

<div
  class="h-screen w-screen flex flex-col space-y-10 items-center justify-center bg-gradient-to-br from-gray-900 to-gray-800"
>
  <div class="w-full flex justify-center items-center h-full absolute">
    <img
      class="absolute object-cover h-[100%] flex opacity-5"
      src="/src/assets/astrobg.png"
      alt=""
    />
  </div>
  <div class="flex flex-col items-center">
    <h1 class="text-6xl font-extrabold text-gray-600 tracking-wide">
      QUOTE SWAP
    </h1>
    <span class="text-gray-400 text-light text-xs tracking-[0.2em]"
      >Share and create quotes easily</span
    >
  </div>
  <div class="relative group items-center justify-center">
    <div
      class="absolute insert-0 bg-gradient-to-br from-orange-600 to-pink-600 group-hover:bg-gradient-to-br group-hover:from-orange-600 group-hover:to-pink-600 rounded-xl h-14 w-[400px] blur px-7 py-8 transition opacity-60 group-hover:opacity-100 duration-300 ease-in-out"
    >
    </div>
    <button
      class="bg-gray-900 relative rounded-xl text-gray-200 px-7 py-8 flex flex-row items-center justify-center h-14 space-x-4 divide-x-4 divide-gray-600 w-[400px]"
    >
      <span class="pr-2 font-extrabold text-gray-600 text-xl"> POST</span>
      <span
        class="pl-6 font-light text-gray-400 tracking-[0.4em] font-mono flex-row flex items-center justify-center"
        >/api/v1/quote &rarr;
      </span>
    </button>
  </div>
</div>
