---

---

<footer class="bg-gray-800 text-white p-4 text-center w-screen h-80">
  <div class="flex justify-center space-x-4">
    {/* GitHub Link */}
    <a
      href="https://github.com/shadmeoli"
      target="_blank"
      rel="noopener noreferrer"
    >
      <!-- <FaGithub class="text-2xl" /> -->
    </a>

    {/* Instagram Link */}
    <a
      href="https://www.instagram.com/_s.ha.d"
      target="_blank"
      rel="noopener noreferrer"
    >
      <!-- <FaInstagram class="text-2xl" /> -->
    </a>

    {/* Twitter Link */}
    <a
      href="https://twitter.com/CodesShad"
      target="_blank"
      rel="noopener noreferrer"
    >
      <!-- <FaTwitter class="text-2xl" /> -->
    </a>
  </div>

  <div class="mt-2">
    {/* Your additional links go here */}
  </div>
</footer>
