---
import Nav from "../components/Nav.astro";
import FooterLayout from "./FooterLayout.astro";

const { title } = Astro.props;
---

<html transition:animate="none" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main
      transition:animate="slide"
      class="min-h-screen h-auto w-screen flex flex-wrap px-6 py-2"
    >
      <div class="relative w-full flex items-center justify-center">
        <Nav />
      </div>
      <slot />
    </main>
    <FooterLayout />
  </body>
</html>
