---
import Nav from "../components/Nav.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="max-h-auto h-screen w-screen flex flex-wrap px-6 py-10">
      <Nav />
      <slot />
    </main>
  </body>
</html>
